meta(charset="utf-8")
meta(name="viewport", content="width=device-width, initial-scale=1.0")
title vkstalk-js
link(href='https://fonts.googleapis.com/icon?family=Material+Icons', rel='stylesheet')
link(rel="stylesheet", href="/node_m/materialize-css/dist/css/materialize.min.css")
link(rel='stylesheet', href='/node_m/materialize-clockpicker/dist/css/materialize.clockpicker.css')
link(rel="stylesheet", href="/assets/css/common.css")

block stylesheets
