meta(charset="utf-8")
meta(name="viewport", content="width=device-width, initial-scale=1.0")
title vkstalk-js
link(href='https://fonts.googleapis.com/icon?family=Material+Icons', rel='stylesheet')
link(rel="stylesheet", href="/node_m/materialize-css/dist/css/materialize.min.css")
link(rel='stylesheet', href='/node_m/materialize-clockpicker/dist/css/materialize.clockpicker.css')

block stylesheets

style.
    body {
        display: flex;
        min-height: 100vh;
        flex-direction: column;
    }

    main {
        flex: 1 0 auto;
    }

    .content-wrapper {
        margin-top: 30px;
    }

    .stalk-data {
        min-height: 0;
        transition: min-height .2s;
    }

    footer.page-footer {
        padding-top: 0;
    }

    .collapsible-report-general .collapsible-body {
        overflow-x: auto;
    }
