script(src="/node_m/materialize-css/node_modules/jquery/dist/jquery.min.js", type="application/javascript")
script(src="/node_m/materialize-css/dist/js/materialize.min.js", type="text/javascript")
script(src="/node_m/materialize-clockpicker/dist/js/materialize.clockpicker.js", type="text/javascript")
script(src="/node_m/timeago/jquery.timeago.js", type="text/javascript")

script(src="/assets/js/common.js", type="text/javascript")
