script(src="/node_m/materialize-css/node_modules/jquery/dist/jquery.min.js")
script(src="/node_m/materialize-css/dist/js/materialize.min.js")
script(src="/node_m/materialize-clockpicker/dist/js/materialize.clockpicker.js")
script(src="/node_m/timeago/jquery.timeago.js")

script(src="/assets/js/common.js")
