.col.s12.m6
    .stalking-card.card.blue-grey.darken-1(id=stalk_id)
        .card-content.white-text
            span.card-title User ID:
                span.user-id &nbsp;#{stalk_id}
            p.stalk-data

        .card-action
            a.stalk-start(href='javascript:void(0)') Stalk
            a.stalk-stop(href='javascript:void(0)') Stop
            a.report(href='javascript:void(0)') Reports
            a.card-remove(href='javascript:void(0)') Remove
