if (!data.length)
    h5 No music tracks found
else

    table.highlight.striped
        thead
            tr
                th Track
                th Play count
                th Last played

        tbody
            each entry in data
                tr
                    td= entry.track
                    td= entry.play_count
                    td.localize-date= entry.last_played
