extends ./layout.pug

block content
    if (!user)
        h3 Please
            a(href='/login') &nbsp;log in
    else

        section#add-user
            .row
                .col.s12
                    form#form-card-add(action='/', method='post')
                        .row
                            .input-field.col.s12
                                input#user-id(type='text', name='user-id', value='', required)
                                label(for='user-id') User ID

                            .col.s12
                                button.btn(type='submit') Add

        section#stalkers
            .row
                .col.s12.chips-container
                    each stalk_id in user.stalked_ids
                        .chip(data-stalk-id=stalk_id)
                             span #{stalk_id}&nbsp;
                             i.material-icons.vertical-align-middle.tiny play_circle_filled

            .row.cards-row
                each stalk_id in user.stalked_ids
                    include ./includes/stalk_card.pug

block scripts
    script(src='/node_m/socket.io-client/socket.io.js', charset='utf-8')
    script(src="/assets/js/main.js")
