extends ./layout.pug

block content
    if (!user)
        h3 Please
            a(href='/login') &nbsp;log in
    else

        section#add-user
            .row
                .col.s12
                    form(action='/', method='post')
                        .row
                            .input-field.col.s12
                                input#user-id(type='text', name='user-id', value='', required)
                                label(for='user-id') User ID

                            .col.s12
                                button.btn(type='submit') Add

        section#stalkers
            .row
                each stalk_id in user.stalked_ids
                    .col.s12.m6
                        .card.blue-grey.darken-1(id=stalk_id)
                            .card-content.white-text
                                span.card-title User ID:
                                    span.user-id &nbsp;#{stalk_id}
                                p.stalk-data

                            .card-action
                                a.stalk-user(href='#' + stalk_id) Stalk
                                a.stop-worker(href='#' + stalk_id) Stop
                                a.report(href='#' + stalk_id) Reports
                                a.remove-stalked-id(href='#' + stalk_id) Remove
