doctype 5
html(ng-app='vkstalkApp')
    include ./includes/head.pug
body
    include ./includes/navbar.pug
    div#content-wrapper.content-wrapper.container
        block content

    include ./includes/footer.pug
    include ./includes/scripts.pug
