extends ./layout.pug

block content
    .row
        .col.s12
            h3 Log in
            form#auth-form(role='form', method='post', action='/login')
                .row
                    .input-field.col.s12.m6
                        input#username(name='username', type='text', autofocus, required)
                        label(for='username') Username

                    .input-field.col.s12.m6
                        input#password(name='password', type='password', required, pattern="^.{1,}$", title="Password must be at least 8 symbols long")
                        label(for='password') Password


                    button.btn.col.s12(type='submit') Log in
                    button#create-account.btn.col.s12.white.blue-text Create account

    if (error && error.length > 0)
        .row
            .col.s12
                .card.red.darken-2
                    .card-content.white-text
                        p= error

    script.
        (function() {
            var btn = document.getElementById('create-account');
            btn.addEventListener('click', function(e) {
                e.preventDefault();
                var form = document.getElementById('auth-form');
                form.action = '/register';
                form.submit();
            });
        })();
