extends ./layout.pug

block content
    .row
        .col.s12
            h3 Log in
            form(role='form', method='post', action='/login')
                .row
                    .input-field.col.s6
                        input#username(name='username', type='text')
                        label(for='username') Username

                    .input-field.col.s6
                        input#password(name='password', type='password')
                        label(for='password') Password


                    button.btn.col.s12(type='submit') Log in
