extends ./layout

block content
    h4 Reports on #{stalked_id}

    section
        form#report-form(action="/music", method="GET", role="form", disabled)
            .row
                .input-field.col.s12
                    select#report-type(name='report-type')
                        option(value='music', selected) Music
                        option(value='general') General
                        option(value='updates') Updates
                    label Report type

            .row
                .input-field.col.s6
                    input#date-from.datepicker(type='date', name='date-from')
                    label Date from
                .input-field.col.s6
                    label(for='time-from') Time from
                    input#time-from.timepicker(type='time', name='time-from')

            .row
                .input-field.col.s6
                    input#date-to.datepicker(type='date', name='date-to')
                    label Date to
                .input-field.col.s6
                    label(for='time-to') Time to
                    input#time-to.timepicker(type='time', name='time-to')

            .row
                button.btn.col.s12.waves-effect Submit


    section#report
        != report


block scripts
    script(src="/assets/js/reports.js")
