mixin materialCard(card_color)
    .row
    .col.s12.m6
    .card(class=card_color)
        .card-content.white-text
            //- span.card-title User ID:
                span.user-id
            p#stalk-data

        .card-action
            a.stop-worker(href='#') Stop
